@font-face {
    font-family: 'Corpo';
    src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Titulo';
    src: url(../Teko/Teko-VariableFont_wght.ttf);
}

.contato{
    padding: 50px;
}

.contato > h1{
    text-align: center;
    font-family: corpo, sans-serif;
    font-size: 4rem;
    margin-bottom: 150px;
}

.conteudo{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.info{
    width: 50%;
}

.info p{
    font-family: Corpo, sans-serif;
    font-size: 1.3rem;
    padding: 10px 0;
    border-bottom: 1px solid #bdbdbd;
}

.info strong{
    font-family: Corpo, sans-serif;
    font-weight: bold;
}

/* HORÁRIOS */

.horarios{
    font-family: corpo, sans-serif;
    margin-top: 60px;
}

.horarios h2{
    font-family: Corpo, sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.horarios p{
    font-family: corpo, sans-serif;
    text-align: center;
}

/* GALERIA */

.galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.centro-galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.foto img{
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.seta{
    background: transparent;
    border: none;
    font-size: 60px;
    cursor: pointer;
    font-weight: bold;
}

.redes{
    display: flex;
    gap: 20px;
}

.redes img{
    width: 60px;
    height: 60px;
}
.area-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.foto{
    width: 450px;
    height: 350px;

    background-color: #d9d9d9;
    overflow: hidden;
    border-radius: 10px;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seta{
    border: none;
    background: transparent;

    font-size: 60px;
    font-weight: bold;

    cursor: pointer;
    transition: .3s;
}

.seta:hover{
    transform: scale(1.1);
}

.redes{
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.redes a{
    text-decoration: none;
}

.redes img{
    width: 50px;
    height: 50px;

    transition: .3s;
}

.redes img:hover{
    transform: scale(1.1);
}

/* MAPA */

.maps{
    width: 100%;
    margin: 50px auto;

    display: flex;
    justify-content: center;
}

.maps iframe{
    width: 90%;
    max-width: 1200px;
    height: 350px;

    border: none;
    border-radius: 10px;
}

/* FORMULÁRIO */

.formulario-contato{
    border-top: 1px solid #d9b8b8;
    padding: 60px 20px;
    font-family: corpo, sans-serif;
}

.formulario-contato h2{
    font-family: corpo, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

.formulario-contato form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.formulario-contato input{
    font-family: corpo, sans-serif;
    width: 500px;
    max-width: 90%;

    padding: 15px 20px;

    border: none;
    border-radius: 25px;

    background-color: #d9d9d9;
    font-size: 16px;
}

.formulario-contato button{
    font-family: corpo, sans-serif;
    margin-top: 10px;

    border: none;
    border-radius: 25px;

    padding: 12px 45px;

    background-color: #cfcfcf;

    cursor: pointer;

    font-size: 16px;

    transition: .3s;
}

.formulario-contato button:hover{
    transform: scale(1.05);
}



/* FOOTER */

footer{
    height: 120px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    font-size: 14px;
    font-family: 'Corpo', sans-serif;
}

/* RESPONSIVO */

@media (max-width: 900px){

    .conteudo{
        font-family: corpo, sans-serif;
        flex-direction: column;
        align-items: center;
    }

    .info{
        font-family: corpo, sans-serif;
        width: 100%;
        max-width: 500px;
    }

    .galeria{
        width: 100%;
    }

    .foto{
        width: 350px;
        height: 280px;
    }

    .seta{
        font-size: 45px;
    }
}

@media (max-width: 600px){

    .titulo{
        font-size: 2.3rem;
    }

    .formulario-contato h2{
        font-size: 2.3rem;
    }

    .foto{
        width: 280px;
        height: 220px;
    }

    .seta{
        font-size: 35px;
    }

    .redes img{
        width: 45px;
        height: 45px;
    }
}
