@font-face {
    font-family: 'Corpo';
    src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Titulo';
    src: url(../Teko/Teko-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header{
    display: flex;
    gap: 0px;
    color: white;
    background-color: black;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header img{
    width: 200px;
    height: auto;
    margin: 0cm;
}

#Titulo{
    display: flex;
    flex-direction: column;
    margin: none auto;
}

header h1{
    color: #8B0000;
    margin: 0;
}

header h2{
    margin: 0;
}

header nav{
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

header a {
    color: white;
    text-decoration: none;
    font-family: Titulo;

}

header .menu:hover{
    font-size: 2rem;
    color:#8B0000;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 55px;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
}

header nav a:hover {
    color: #a00000;
}

main{
    max-width: 1440px;
    margin: auto;
    background-color: white;
}

footer{
    display: flex;
    background-color: black;
    gap: 200px;
}

#links{
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-top: 50px;
    margin-left: 50px;
}

#redes{
    display: flex;
    gap: 50px;
}

#redes img{
    width: 100px;
    border-radius: 15px;
}

#redes p{
    font-family: Corpo;
    text-align: center;
    color: white;
}

#redes a{
    text-decoration: none;
}

#pags nav{
    display: flex;
    gap: 15px;
}

#pags a{
    font-family: Corpo;
    font-family: 0.9rem;
    text-decoration: none;
    color: white;
}

#pags a:hover{
    color: #8B0000;
}

#horarios{
    width: 200px;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 95px;
}

#hrs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

#hrs h2{
    font-family: Corpo;
    margin-bottom: 30px;
}

#hrs p{
    font-family: Corpo;
}

#direito p{
    font-family: Corpo;
    text-align: center;
}

#maps iframe{
    margin-top: 50px;
    padding: 0px 10px 10px 0px;
    height: 300px;
    width: 400px;
}