@font-face {
    font-family: 'Corpo';
    src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Titulo';
    src: url(../Teko/Teko-VariableFont_wght.ttf);
}

hr{
    background-color: #8B0000;
    height: 1px;
    border: none;
}

button{
    cursor: pointer;
}

#impacto {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    gap: 150px;
    font-family: Corpo;
    padding: 50px;
}

#impacto h1{
    font-size: 5rem;
    line-height: 4.5rem;
}

#impacto p{
    margin-top: 50px;
    font-size: 1.7rem;
}

#conteudo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#impacto img {
    width: auto;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 70px;
}

#impacto strong{
    color: #5D1A1D;
}

#impacto button{
    background-color: #8B0000;
    color: white;
    padding: 15px;
    border-radius: 15px;
    border: none;
    width: 500px;
    font-family: Corpo;
    font-size: 1.5rem;
}

#impacto a{
    width: 500px;
}

#sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

#sobre img{
    height: 500px;
    width: auto;
    border-radius: 10px;
}

#imgs{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    gap: 50px;
}

#img01{
    margin-bottom: 200px;
}

#img02{
    margin-top: 200px;
}

#txt{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container_imagem{
    position: relative;
    display: inline-block;
}

.container_imagem img{
    display: block;
}

.txt_sobreposto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5F5F5;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.txt_sobreposto > a{
    margin-top: 25px;
}

