@font-face {
    font-family: 'Corpo';
    src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Titulo';
    src: url(../Teko/Teko-VariableFont_wght.ttf);
}

#conteudo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

body{
    background: #e9e9e9;
}

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 30px 0;
}

.card{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 50px;
}

.foto{
    width: 170px;
    height: 170px;
    background: #d9d9d9;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    color: black;

    flex-shrink: 0;
}

.conteudo{
    flex: 1;
    text-align: center;
}

.conteudo h2{
    font-family: Corpo, 'Times New Roman', serif;
    font-size: 32px;
    margin-bottom: 15px;
    color: #111;
}

.conteudo p{
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.social{
    display: flex;
    gap: 20px;
}

.social-item{
    text-align: center;
    font-size: 13px;
}

.logo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
